<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CloudFilter</filter-name>
    <filter-class>com.ojassoft.astrosagecloud.CloudFilter</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Paramter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CloudFilter</filter-name>
    <url-pattern>/cloud/*</url-pattern>
    <url-pattern>/m/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.ojassoft.astrosagecloud.DBServletListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>HomeJSP</servlet-name>
    <jsp-file>/cloud/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeJSP</servlet-name>
    <url-pattern>/cloud/home.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionExpiredJSP</servlet-name>
    <jsp-file>/cloud/session-expired.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionExpiredJSP</servlet-name>
    <url-pattern>/cloud/session-expired.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MMJSP</servlet-name>
    <jsp-file>/cloud/matchmakingoutput1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MMJSP</servlet-name>
    <url-pattern>/cloud/matchmakingoutput1.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createSessionMM</servlet-name>
    <jsp-file>/cloud/createsession-matchmaking.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>createSessionMM</servlet-name>
    <url-pattern>/cloud/createsession-matchmaking-jsp.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContTempJSP</servlet-name>
    <jsp-file>/cloud/content-template.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContTempJSP</servlet-name>
    <url-pattern>/cloud/content-template.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContSourceJSP</servlet-name>
    <jsp-file>/content-source.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContSourceJSP</servlet-name>
    <url-pattern>/content-source.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginChkJSP</servlet-name>
    <jsp-file>/cloud/loginchk.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginChkJSP</servlet-name>
    <url-pattern>/cloud/loginchk.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HoroscopeObject</servlet-name>
    <jsp-file>/cloud/Setup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoroscopeObject</servlet-name>
    <url-pattern>/cloud/SetupHoroscopeObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createSession</servlet-name>
    <jsp-file>/cloud/createsession.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>createSession</servlet-name>
    <url-pattern>/cloud/createsession-jsp.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>j_dasa</servlet-name>
    <jsp-file>/cloud/j_dasa.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>j_dasa</servlet-name>
    <url-pattern>/cloud/j_dasa.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>j_lagnadivision</servlet-name>
    <jsp-file>/cloud/j_lagnadivision.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>j_lagnadivision</servlet-name>
    <url-pattern>/cloud/j_lagnadivision.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>j_sarvatobhadradegree</servlet-name>
    <jsp-file>/cloud/j_sarvatobhadradegree.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>j_sarvatobhadradegree</servlet-name>
    <url-pattern>/cloud/j_sarvatobhadradegree.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KCIL</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.KCILServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KCIL</servlet-name>
    <url-pattern>/cloud/4-step.asp</url-pattern>
    <url-pattern>/cloud/cil.asp</url-pattern>
    <url-pattern>/cloud/kcil.asp</url-pattern>
    <url-pattern>/cloud/nakshatra-nadi.asp</url-pattern>
    <url-pattern>/cloud/planet-sign.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>horapa</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.PanchangHora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>horapa</servlet-name>
    <url-pattern>/horapanchang.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>astrologin</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.SocialMediaLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>astrologin</servlet-name>
    <url-pattern>/astrologin/fbhome</url-pattern>
    <url-pattern>/astrologin/googlehome</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>astrosagelogin</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.AstrosageLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>astrosagelogin</servlet-name>
    <url-pattern>/astrologin/astrofbhome</url-pattern>
    <url-pattern>/astrologin/astrogooglehome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloudAsp</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.AstrosageAsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloudAsp</servlet-name>
    <url-pattern>/setmoonsign.asp</url-pattern>
    <url-pattern>/sunsign.asp</url-pattern>
    <url-pattern>/porutham-result.asp</url-pattern>
    <url-pattern>/signcompatibility.asp</url-pattern>
    <url-pattern>/namehoroscopematching.asp</url-pattern>
    <url-pattern>/lalkitab_page.asp</url-pattern>
    <url-pattern>/m/new_prediction1.asp</url-pattern>
    <url-pattern>/m/new_prediction2.asp</url-pattern>
    <url-pattern>/m/new_prediction3.asp</url-pattern>
    <url-pattern>/m/postpage.asp</url-pattern>
    <url-pattern>/m/j_kppage.asp</url-pattern>
    <url-pattern>/m/j_lagnapage.asp</url-pattern>
    <url-pattern>/m/new_VarshphalAllPages.asp</url-pattern>
    <url-pattern>/m/new_varshphalallpages.asp</url-pattern>
    <url-pattern>/m/new_charantardasha-1.asp</url-pattern>
    <url-pattern>/m/new_charantardasha-2.asp</url-pattern>
    <url-pattern>/m/new_lalkitabvarshaphal.asp</url-pattern>
    <url-pattern>/m/new_shodashvargatable.asp</url-pattern>
    <url-pattern>/m/new_yoginidasha-1.asp</url-pattern>
    <url-pattern>/m/new_yoginidasha-2.asp</url-pattern>
    <url-pattern>/m/newfriendship.asp</url-pattern>
    <url-pattern>/m/newprastharashtakvarga.asp</url-pattern>
    <url-pattern>/m/MatchMakingReport.asp</url-pattern>
    <url-pattern>/m/matchmakingreport.asp</url-pattern>
    <url-pattern>/m/basic.asp</url-pattern>
    <url-pattern>/m/kp.asp</url-pattern>
    <url-pattern>/examresultoutput.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cloud</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.CloudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cloud</servlet-name>
    <url-pattern>/cloud/createsession-matchmaking.asp</url-pattern>
    <url-pattern>/cloud/createsession.asp</url-pattern>
    <url-pattern>/cloud/astro-sketch.asp</url-pattern>
    <url-pattern>/cloud/ashtaktable.asp</url-pattern>
    <url-pattern>/cloud/bhavmadhya.asp</url-pattern>
    <url-pattern>/cloud/birth-details.asp</url-pattern>
    <url-pattern>/cloud/user-key-points.asp</url-pattern>
    <url-pattern>/cloud/numerology-report.asp</url-pattern>
    <url-pattern>/cloud/chalittable.asp</url-pattern>
    <url-pattern>/cloud/charantardasha1.asp</url-pattern>
    <url-pattern>/cloud/charantardasha2.asp</url-pattern>
    <url-pattern>/cloud/friendship.asp</url-pattern>
    <url-pattern>/cloud/kpcusp.asp</url-pattern>
    <url-pattern>/cloud/prastharashtakvarga.asp</url-pattern>
    <url-pattern>/cloud/shadandbhav.asp</url-pattern>
    <url-pattern>/cloud/shodashvargatable.asp</url-pattern>
    <url-pattern>/cloud/svklagna.asp</url-pattern>
    <url-pattern>/cloud/transittodaychart.asp</url-pattern>
    <url-pattern>/cloud/westernsystem.asp</url-pattern>
    <url-pattern>/cloud/vimshottaridasha.asp</url-pattern>
    <url-pattern>/cloud/vmmd&amp;ad.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd1.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd2.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd3.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd4.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd5.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd&amp;sd1.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd&amp;sd2.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd&amp;sd3.asp</url-pattern>
    <url-pattern>/cloud/vmad&amp;pd&amp;sd4.asp</url-pattern>
    <url-pattern>/cloud/kpsignirp.asp</url-pattern>
    <url-pattern>/cloud/gemstones-report.asp</url-pattern>
    <url-pattern>/cloud/ascendant-prediction.asp</url-pattern>
    <url-pattern>/cloud/rasi-calculator.asp</url-pattern>
    <url-pattern>/cloud/manglikdetails.asp</url-pattern>
    <url-pattern>/cloud/lagna-navamsa-jpeg-chart.asp</url-pattern>
    <url-pattern>/cloud/kpplanetcusp.asp</url-pattern>
    <url-pattern>/cloud/kptoday.asp</url-pattern>
    <url-pattern>/cloud/matchmaking.asp</url-pattern>
    <url-pattern>/cloud/moon-sign.asp</url-pattern>
    <url-pattern>/cloud/lalkitabdasha.asp</url-pattern>
    <url-pattern>/cloud/blog.asp</url-pattern>
    <url-pattern>/cloud/lalkitab-remedies-rules.asp</url-pattern>
    <url-pattern>/cloud/lalkitab-teva.asp</url-pattern>
    <url-pattern>/cloud/lalkitab-debts-teva.asp</url-pattern>
    <url-pattern>/cloud/lalkitabvarshaphal.asp</url-pattern>
    <url-pattern>/cloud/lalplanethouse.asp</url-pattern>
    <url-pattern>/cloud/lalkitabmonthchart.asp</url-pattern>
    <url-pattern>/cloud/sadesatireport.asp</url-pattern>
    <url-pattern>/cloud/lalkitabvarshaphalcharts.asp</url-pattern>
    <url-pattern>/cloud/lkitabworksheet2.asp</url-pattern>
    <url-pattern>/cloud/disclaimer.asp</url-pattern>
    <url-pattern>/cloud/chart.asp</url-pattern>
    <url-pattern>/cloud/babyname.asp</url-pattern>
    <url-pattern>/cloud/planetposition.asp</url-pattern>
    <url-pattern>/cloud/getplanettoplanetaspectwestern.asp</url-pattern>
    <url-pattern>/cloud/love-horoscope.asp</url-pattern>
    <url-pattern>/cloud/character-horoscope.asp</url-pattern>
    <url-pattern>/cloud/career-horoscope.asp</url-pattern>
    <url-pattern>/cloud/jaminisystemkarakamsaswamsa.asp</url-pattern>
    <url-pattern>/cloud/personalized-horoscope.asp</url-pattern>
    <url-pattern>/cloud/yoginidasha1.asp</url-pattern>
    <url-pattern>/cloud/yoginidasha2.asp</url-pattern>
    <url-pattern>/cloud/nakshatra-report.asp</url-pattern>
    <url-pattern>/cloud/dasha_phala.asp</url-pattern>
    <url-pattern>/cloud/lalkitab-prediction.asp</url-pattern>
    <url-pattern>/cloud/lalkitab-varshaphal-prediction.asp</url-pattern>
    <url-pattern>/cloud/prediction1.asp</url-pattern>
    <url-pattern>/cloud/prediction2.asp</url-pattern>
    <url-pattern>/cloud/prediction3.asp</url-pattern>
    <url-pattern>/cloud/services.asp</url-pattern>
    <url-pattern>/cloud/service-order.asp</url-pattern>
    <url-pattern>/cloud/planets-in-vedic-astrology.asp</url-pattern>
    <url-pattern>/cloud/signup.asp</url-pattern>
    <url-pattern>/cloud/login.asp</url-pattern>
    <url-pattern>/cloud/reg-activation.asp</url-pattern>
    <url-pattern>/cloud/activation-problem.asp</url-pattern>
    <url-pattern>/cloud/defaultchartlogin.asp</url-pattern>
    <url-pattern>/cloud/transit-today.asp</url-pattern>
    <url-pattern>/cloud/updateemailid.asp</url-pattern>
    <url-pattern>/cloud/reg-activate-mail.asp</url-pattern>
    <url-pattern>/cloud/activation-page.asp</url-pattern>
    <url-pattern>/cloud/edituserprofile.asp</url-pattern>
    <url-pattern>/cloud/editchart.asp</url-pattern>
    <url-pattern>/cloud/friend.asp</url-pattern>
    <url-pattern>/cloud/varshphalprediction.asp</url-pattern>
    <url-pattern>/cloud/kalsarpa-yoga.asp</url-pattern>
    <url-pattern>/cloud/varshphalallpages.asp</url-pattern>
    <url-pattern>/cloud/usermessage.asp</url-pattern>
    <url-pattern>/cloud/confirmdata.asp</url-pattern>
    <url-pattern>/cloud/kundali-prediction.asp</url-pattern>
    <url-pattern>/cloud/download-kundli.asp</url-pattern>
    <url-pattern>/cloud/matchmakingoutput.asp</url-pattern>
    <url-pattern>/cloud/basicdetails.asp</url-pattern>
    <url-pattern>/cloud/loginwelcome.asp</url-pattern>
    <url-pattern>/kcilp/4-step.asp</url-pattern>
    <url-pattern>/kcilp/cil.asp</url-pattern>
    <url-pattern>/kcilp/kcil.asp</url-pattern>
    <url-pattern>/kcilp/nakshatra-nadi.asp</url-pattern>
    <url-pattern>/kcilp/planet-sign.asp</url-pattern>
    <url-pattern>/cloud/healthindex.asp</url-pattern>
    <url-pattern>/CloudServlet</url-pattern>
    <url-pattern>/cloudservlet</url-pattern>
    <url-pattern>/cloud/jadi-report.asp</url-pattern>
    <url-pattern>/cloud/rudraksha-report.asp</url-pattern>
    <url-pattern>/cloud/yantra-report.asp</url-pattern>
    <url-pattern>/cloud/prediction-cat.asp</url-pattern>
    <url-pattern>/cloud/dasha-cat.asp</url-pattern>
    <url-pattern>/cloud/lalkitab-cat.asp</url-pattern>
    <url-pattern>/cloud/calculation-cat.asp</url-pattern>
    <url-pattern>/cloud/kp-system-cat.asp</url-pattern>
    <url-pattern>/cloud/matching-cat.asp</url-pattern>
    <url-pattern>/cloud/hindi-mahadasha-phal.asp</url-pattern>
    <url-pattern>/cloud/hindi-transit-today.asp</url-pattern>
    <url-pattern>/cloud/ishtdevata.asp</url-pattern>
    <url-pattern>/cloud/arudhapada.asp</url-pattern>
    <url-pattern>/cloud/upgrahchart.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SVKServlet</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.SVKServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVKServlet</servlet-name>
    <url-pattern>/cloud/svkhora.asp</url-pattern>
    <url-pattern>/cloud/svkdrekkana.asp</url-pattern>
    <url-pattern>/cloud/svkchaturthamsa.asp</url-pattern>
    <url-pattern>/cloud/svksaptamamsha.asp</url-pattern>
    <url-pattern>/cloud/svknavamsha.asp</url-pattern>
    <url-pattern>/cloud/svkdashamamsha.asp</url-pattern>
    <url-pattern>/cloud/svkdwadashamamsha.asp</url-pattern>
    <url-pattern>/cloud/svkshodashamsha.asp</url-pattern>
    <url-pattern>/cloud/svkvimshamsha.asp</url-pattern>
    <url-pattern>/cloud/svkchaturvimshamsha.asp</url-pattern>
    <url-pattern>/cloud/svksaptavimshamsha.asp</url-pattern>
    <url-pattern>/cloud/svktrimshamsha.asp</url-pattern>
    <url-pattern>/cloud/svkkhavedamsha.asp</url-pattern>
    <url-pattern>/cloud/svkakshvedamsha.asp</url-pattern>
    <url-pattern>/cloud/svkshashtiamsha.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Chart</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.ChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chart</servlet-name>
    <url-pattern>/cloud/newchart-session.asp</url-pattern>
    <url-pattern>/cloud/session-destroy-for-newchart.asp</url-pattern>
    <url-pattern>/cloud/editchart-session.asp</url-pattern>
    <url-pattern>/cloud/ChartServlet</url-pattern>
    <url-pattern>/cloud/chartservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>worksheet</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.WorksheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>worksheet</servlet-name>
    <url-pattern>/cloud/worksheet/WorksheetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserProfileServlet</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.EditUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserProfileServlet</servlet-name>
    <url-pattern>/cloud/edituserprofileprocess.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VedicChartPDF</servlet-name>
    <jsp-file>/cloud/vedic-chart-pdf.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>VedicChartPDF</servlet-name>
    <url-pattern>/cloud/vedic-chart-pdf.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Answer</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.answertemplate.CommonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer</servlet-name>
    <url-pattern>/answer.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>perstype</servlet-name>
    <servlet-class>com.ojassoft.astrosagecloud.APIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>perstype</servlet-name>
    <url-pattern>/cloud/personalitytype.asp</url-pattern>
  </servlet-mapping>
  <!-- added by Ankit on 13-feb-2020 -->
  <servlet>
  <servlet-name>ephemerisresponse</servlet-name>
  <servlet-class>com.ojassoft.astrosagecloud.EphemerisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ephemerisresponse</servlet-name>
  <url-pattern>/ephemeris</url-pattern>
  </servlet-mapping>
  
</web-app>