* {padding:0px; margin:0px; font-family: 'Open Sans', sans-serif;  box-sizing: border-box;}
body { font-family: "Open Sans"; font-size:18px;line-height:28px;color:#000; padding:0px; margin:0px; overflow-x:hidden; } 
h1,h2,h3,h4,h5,h6{font-family: 'Open Sans', sans-serif;margin-top:0; margin-bottom:0; font-weight:600;color:#000}
.bg-gray {background:#f8f9fa; } .color-red {color:#1c4c96;}
.bg-dark-blue { background:#7eb1fc;} .bg-light-blue { background:#bbd7ff;} 
.bg-dark-purple { background:#8d88cf;} .bg-light-purple { background:#dedbff;} 
.bg-dark-orange { background:#fbb97c;} .bg-light-orange { background:#fde5ce;} 
.bg-dark-pink { background:#f69383;} .bg-light-pink { background:#ffc1b8;} 
.br-blue-1 { border:1px dashed #7eb1fc; } .br-purple-1 { border:1px dashed #8d88cf; }
.br-orange-1 { border:1px dashed #fbb97c; } .br-pink-1 { border:1px dashed #f69383; }
.dark-blue { background: #1c4c96 } .btn-radius { border-radius:30px; } .text-orange {color:#8d4400;}
.text-dark-blue { color:#053986; } .text-dark-purple { color:#2f2a7a; } .text-dark-orange { color:#8d4400; }
.br-blue-solid-1 { border:1px solid #7eb1fc; } .br-purple-solid-1 { border:1px solid #8d88cf; }
.br-orange-solid-1 { border:1px solid #fbb97c; } .br-pink-solid-1 { border:1px solid #f69383; }
.container 
{
    max-width:85%;
}
.top-header 
{
    padding-top:30px;
    padding-bottom:30px;
}
.top-left  
{
    padding:0px;
    margin:0px; 
}
.top-left > li 
{
    display:inline-block;
    
}  
.top-left > li > a 
{
    font-size:20px;
}
.top-left .img-size 
{
    width:20px;
    height:20px;
    margin-right:5px;
}
.top-left .txt-class 
{
    margin-left:35px;
    margin-bottom:0px;
    font-weight:600;
    border:1px solid #fbb97c;
    padding: .375rem .75rem;
    line-height: 1.8;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .5em solid;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
    vertical-align: middle;
}
.btn-change 
{
    width:154px;
    font-size:20px;
    margin-right:10px;
}
.top-right .btn-change img 
{
    width:20px;
    height:20px;
    vertical-align:middle;
    margin-top:-4px;
    
}
.nav_header 
{
    padding-top:10px;
    padding-bottom:10px;
}
#navbar-header .navbar-expand-sm .navbar-nav .nav-link 
{
    color:#fff;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
}
.nav_header .navbar-setting .nav-icons 
{
    display:block;
    text-align:center;
}
.nav_header .navbar-setting .nav-icons img  
{
    height:20px;
    width:20px;
}
.nav_header .pr-0 { padding-right:0px !important; }
.header 
{
    padding-bottom:20px;
}
.cloud-chart 
{
    padding-top:10px;
    padding-bottom:20px;
    float:left;
    width:100%;
}
.box-design 
{
   background:#fff; 
   border-radius:30px;
   border-top:0px;
    
}
.box-header 
{
    padding:10px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}
.box-header h4 
{
    font-size:18px;
    margin-bottom:0px;
    line-height:30px;
    
}
.right-icon ul 
{
    margin:0px;
    padding:0px;
}
.right-icon ul li 
{
    display:inline-block;
}
.right-icon ul li a 
{
    width:25px;
    height:25px;
    line-height:25px;
    background:#fff;
    border-radius:180px;
    display:block;
    text-align:center;
}

.box-body 
{
    padding:10px;
}
.box-body img 
{
    width:100%;
}
.table-adt 
{
    margin-top:10px;
}
.table-adt tr td 
{
    font-size: 12px;
    padding: 2px;
    text-align: center;
    width: 15px;
    font-weight:bold;
    line-height:25px;
}
.table-adtt tr td 
{
    font-size: 12px;
    padding: 2px;
    text-align: center;
    width: 15px;
    font-weight:bold;
    line-height:25px;
}
.table-adtt, .table-adt 
{
    border:1px solid #ddd;
}
.mt-10 
{
    margin-top:20px;
}
@media only screen and (max-width:1360px){.container {max-width:100%;} .top-left .txt-class { margin-left:5px; } 
.table-adt tr td 
{
    font-size: 8.66px;
    padding: 2px;
    text-align: center;
    width: 15px;
    font-weight:bold;
    line-height:17px;
} 
.table-adtt tr td 
{
    font-size: 8.66px;
    padding: 2px;
    text-align: center;
    width: 15px;
    font-weight:bold;
    line-height:17px;
} 

}

@media only screen and (max-width:768px) 
{
    .top-header 
    {
        padding-top:10px;
        padding-bottom:10px;
    }
    .top-left > li > a 
    {
        font-size:16px;
    }
    .top-left .img-size 
    {
        width:16px;
        height:16px;
        margin-right:2px;
        margin-top:-4px;
    }
    .top-left .txt-class 
    {
        margin-left:0px;
    }
    .top-left .txt-class 
    {
        font-size:12px;
        
    }
    .top-left 
    {
        text-align:center;
    }
    .btn-change {
    width: auto;
    font-size: 14px;
    margin-right: 0px;
    margin-top:10px;
}
.nav_header .navbar-brand img 
{
    width:140px;
}
.nav_header .navbar-setting .nav-icons 
{
    text-align:left;
    display:inline-block;
}
.mt-10 
{
    margin-top:0px;
}
.box-design 
{
    margin-bottom:15px;
}
}